body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #888;
}

.logo {
  width: 100px;
  min-width: 40px;
  border-radius: 30px;
}

header {
  margin: 5px;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
header nav ul li {
  background-color: #999;
  display: flex;
  white-space: nowrap;
  height: 40px;
  align-items: center;
  border: white 2px solid;
  border-right: 0;
  padding-inline: 10px;
  backdrop-filter: blur(5px);
}
header nav ul li:first-child {
  border-radius: 20px 0 0 20px;
  padding-left: 10px;
}
header nav ul li:last-child {
  border-radius: 0 20px 20px 0;
  padding-right: 10px;
  border-right: 2px white solid;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li:hover {
  background-color: white;
}
header nav ul li:hover a {
  text-decoration: underline;
  color: black;
}
header #active-page {
  background-color: white;
}
header #active-page a {
  color: black;
  font-weight: 500;
}

.main-image-container {
  display: grid;
}
.main-image-container img {
  grid-row: 1/1;
  grid-column: 1/1;
  width: 100%;
  min-width: 425px;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.main-image-container div {
  display: flex;
  grid-row: 1/1;
  grid-column: 1/1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-left: 10%;
}
.main-image-container div h3, .main-image-container div p {
  margin-block: 5px;
  padding: 5px;
  backdrop-filter: blur(5px);
  color: white;
  text-shadow: #000 1px 0 10px;
}

.main-content {
  min-width: 425px;
  width: 100%;
}
.main-title-container {
  color: white;
  text-align: center;
  font-size: 1.5em;
}
@media (max-width: 426px) {
  .main-title-container {
    font-size: 1em;
  }
}

#main-table {
  margin-inline: 10%;
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}
#main-table .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (max-width: 767px) {
  #main-table .table-row {
    grid-template-columns: 1fr;
  }
}
#main-table .reverse {
  grid-row-start: 1;
}
@media (max-width: 767px) {
  #main-table .reverse {
    grid-row-start: 2;
  }
}
#main-table .reverse-text {
  text-align: right;
}
#main-table .main-table-text {
  color: white;
  border: white 2px solid;
  border-radius: 30px;
  padding: 10px;
  align-content: center;
}
#main-table .main-table-text * {
  margin: 0;
}
#main-table .main-table-image {
  align-self: center;
}
#main-table .main-table-image img {
  filter: blur(5px);
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

footer {
  margin-top: 20px;
  background-color: rgb(22, 67, 104);
  display: flex;
  justify-content: space-around;
  min-width: 430px;
  width: 100%;
}
footer section {
  margin: 10px;
}
footer #links-container {
  width: 100%;
  margin: 0;
}
footer #footer-links {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
footer a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer a:checked {
  color: red;
}

/*# sourceMappingURL=styles.css.map */


.images-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.image-article {
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-article img{
    border-radius: 20px;
    max-width: 600px;
    border: 4px white solid;
}

.image-article div {
    background-color: rgb(100, 130, 150);
    text-align: center;
    font-weight: 500;
    font-size: large;
    margin: 0;
    width: 50%;
    padding: 10px;
    border: 4px white solid;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}

.normal-main{
    h1{
        font-size: 3em;
    }
    
    margin-inline: 10%;
    margin-bottom: 30px;
    text-align: center;

    .elements-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        article {
            width: 300px;
            border: white 4px solid;
            padding: 10px;
            border-radius: 30px;
        }
    }

    #about-me-container{
        padding: 20px;
        display: flex;
        border: white 4px solid;
        border-radius: 30px;
        justify-content: space-evenly;

        #about-me-text-container{
            padding: 20px;
            border: white 4px solid;
            border-radius: 30px;
            width: 500px;
        }

        img{
            width: 300px;
        }
    }
    

    .article-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        article{
            margin-bottom: 20px;
            border: white 4px solid;
            border-radius: 30px;
            width: 300px;
        }

        img {
            width: 200px;
        }

    }

    .line{
        flex-direction: column;
        align-content: center;

        article{
            width: 80%;
        }
    }

    #form-container{
        border: white 4px solid;
    }

}
