body {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #888;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.logo-container {
  width: 150px;
  height: fit-content;
  background-color: white;
  border-radius: 30px;
}
@media (width <= 768px) {
  .logo-container {
    width: 100px;
  }
}
.logo-container img {
  object-fit: cover;
  width: 100%;
}

.title-container {
  background-color: #777;
  padding-block: 10px;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.title-container * {
  margin: 0;
}
@media (width <= 425px) {
  .title-container {
    font-size: 1em;
  }
}

.text-container {
  text-align: center;
  color: white;
}

.button-1 {
  border-radius: 20px;
  background-color: #09f;
  color: white;
  padding: 10px;
  border-style: none;
  border: #09f 2px solid;
  cursor: pointer;
  transition: 200ms;
}
.button-1:hover {
  border-color: #06f;
}
.button-1:active {
  transform: scale(0.9);
}

.margin-10 {
  margin: 10px;
}

header nav {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  background-color: #777;
  padding: 10px;
}
@media (width <= 425px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
  header nav nav {
    width: 100%;
  }
}
header nav ul {
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 30px;
}
@media (width <= 425px) {
  header nav ul {
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
}
header nav ul button {
  height: 40px;
  background-color: gray;
  border: white 1px solid;
  color: white;
  font-weight: bold;
  padding-inline: 5px;
  transition: 200ms;
  min-width: max-content;
  width: 100%;
}
header nav ul button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
@media (width > 425px) {
  header nav ul li:first-child button {
    padding-left: 10px;
    border-radius: 30px 0 0 30px;
  }
  header nav ul li:last-child button {
    border-radius: 0 30px 30px 0;
    padding-right: 10px;
  }
}
@media (width <= 425px) {
  header nav ul li button {
    border-radius: 30px;
  }
}
header nav #active-page {
  background-color: white;
  color: black;
  font-weight: bolder;
}
header nav #active-page:hover {
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  background-color: rgb(22, 67, 104);
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (width <= 320px) {
  footer {
    align-items: center;
  }
}
footer section {
  margin: 10px;
}
footer #links-container {
  width: 100%;
  margin: 0 10px 0 0;
}
footer #footer-links {
  text-align: center;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
@media (width <= 320px) {
  footer #footer-links {
    flex-direction: column;
  }
}
footer a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer a:checked {
  color: red;
}

#home-title-container {
  margin-bottom: 20px;
}
#home-title-container h1, #home-title-container h3 {
  font-weight: 400;
}
#home-title-container h3 {
  font-size: 1em;
}
#home-title-container span {
  color: red;
}

.main-image-container {
  display: grid;
}
.main-image-container img {
  grid-row: 1/1;
  grid-column: 1/1;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.main-image-container div {
  display: flex;
  grid-row: 1/1;
  grid-column: 1/1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
@media (width <= 425px) {
  .main-image-container div {
    grid-row: 2/2;
    margin: 0 10px 10px 10px;
  }
}
.main-image-container div h3,
.main-image-container div p {
  font-size: x-large;
  border-bottom: 5px gray solid;
  border-left: 5px gray solid;
  margin-block: 5px;
  padding: 10px;
  backdrop-filter: blur(5px);
  color: white;
  text-shadow: #000 1px 0 10px;
}
@media (width <= 768px) {
  .main-image-container div h3,
  .main-image-container div p {
    font-size: large;
  }
}
@media (width <= 425px) {
  .main-image-container div h3,
  .main-image-container div p {
    font-size: 1em;
    backdrop-filter: none;
    background-color: #777;
    border-radius: 10px;
    border: none;
    gap: 10px;
    text-shadow: none;
  }
}

#main-table {
  color: white;
  margin-inline: 10%;
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
}
#main-table .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (width <= 768px) {
  #main-table .table-row {
    grid-template-columns: 1fr;
  }
}
#main-table .reverse {
  grid-row-start: 1;
}
@media (max-width: 767px) {
  #main-table .reverse {
    grid-row-start: 2;
  }
}
#main-table .reverse-text {
  text-align: right;
}
#main-table .reverse-text p {
  margin-right: 10px;
}
#main-table .main-table-text {
  background-color: #777;
  border-radius: 30px;
  padding: 20px;
  align-content: center;
}
#main-table .main-table-text * {
  margin: 0;
}
#main-table .main-table-text p {
  margin-left: 10px;
}
#main-table .main-table-image {
  align-self: center;
}
#main-table .main-table-image img {
  filter: blur(2px);
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 30px;
}
#main-table .zoom-top {
  object-position: top;
}

.projects-container {
  padding-inline: 10px;
}

.project-article {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: fit-content;
  background-color: #777;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;
}
@media (width <= 768px) {
  .project-article {
    flex-direction: column;
  }
}

.project-image-title-container {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  border-radius: 20px;
  max-width: 1000px;
  height: fit-content;
}
.project-image-title-container h3 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px 20px;
  border-radius: 20px 20px 0 0;
  border-bottom: 0;
}
.project-image-title-container img {
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  min-width: 350px;
  max-height: 1000px;
}

.elements-container-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.elements-container-2 div {
  background-color: white;
  width: 300px;
  border-radius: 20px;
}
@media (width <= 768px) {
  .elements-container-2 div {
    width: 100%;
  }
}
.elements-container-2 h3 {
  background-color: darkgray;
  color: white;
  border-radius: 20px;
  margin: -2px;
  padding: 10px 0;
  text-align: center;
}
.elements-container-2 p {
  margin: 10px 20px;
}

#about-me-outer-container {
  margin: 10px;
}

#about-me-container {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  max-width: max-content;
  padding: 10px;
  background-color: #777;
}
@media (width <= 768px) {
  #about-me-container {
    flex-direction: column-reverse;
  }
}

#about-me-image-container img {
  border-radius: 20px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}
@media (width <= 768px) {
  #about-me-image-container img {
    height: 300px;
  }
}

#about-me-text-container {
  background-color: white;
  color: black;
  padding: 20px;
  max-width: 550px;
  border-radius: 20px;
}
#about-me-text-container * {
  margin: 0;
}
#about-me-text-container p {
  text-indent: 20px;
}
@media (width <= 768px) {
  #about-me-text-container {
    max-width: 100%;
  }
}

.article-container {
  color: black;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 10px;
}
.article-container article {
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  max-width: 300px;
  width: 100%;
}
.article-container .image-container {
  display: flex;
  align-items: center;
  height: 300px;
  max-width: 300px;
  width: 100%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  overflow: hidden;
}
.article-container .image-container img {
  max-width: 300px;
  width: 100%;
}
.article-container h3 {
  margin: 0;
  padding: 10px;
  border-radius: 20px;
}
.article-container p {
  margin: 0;
  padding: 0 10px 10px 10px;
}

#contact-form-container {
  background-color: darkgray;
  border-radius: 20px;
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
}
#contact-form-container form {
  color: black;
  display: grid;
  background-color: gray;
  padding: 10px;
  border-radius: 20px;
  gap: 10px;
}
#contact-form-container form div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: 40px;
  justify-content: center;
  gap: 10px;
}
#contact-form-container form div label {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: 600;
}
#contact-form-container form div input {
  border-radius: 20px;
  border-style: none;
  padding-left: 10px;
}
#contact-form-container form div textarea {
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  grid-row-start: span 2;
  resize: none;
}
#contact-form-container form div:last-child {
  grid-template-columns: 1fr;
}
#contact-form-container #form-file {
  background-color: white;
  align-content: center;
  justify-self: center;
}
#contact-form-container #form-submit {
  display: flex;
  grid-column: 1/-1;
  justify-self: center;
  width: fit-content;
}

#search-bar-container {
  margin-top: 10px;
  text-align: center;
}
#search-bar-container input {
  border-radius: 20px;
  border: black 1px solid;
  padding: 10px;
  border-style: none;
}

.questions-container {
  background-color: darkgray;
  padding: 10px;
  border-radius: 20px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
  padding-inline: 10px;
  margin: 0 auto;
}
.questions-container article {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
}
.questions-container summary {
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.questions-container p {
  margin: 10px 10px 10px 20px;
}

/*# sourceMappingURL=styles.css.map */
