#contact-form-container {
    background-color: darkgray;
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    form {
        color: black;
        display: grid;
        background-color: gray;
        padding: 10px;
        border-radius: 20px;
        gap: 10px;

        div {
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-auto-rows: 40px;
            justify-content: center;
            gap: 10px;
            
            label {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                font-weight: 600;
            }
            input {
                border-radius: 20px;
                border-style: none;
                padding-left: 10px;
            }
            textarea {
                border-radius: 20px;
                padding-left: 10px;
                padding-top: 10px;
                grid-row-start: span 2;
                resize: none;
            }
            &:last-child {
                grid-template-columns: 1fr;
            }
        }
        
    }
    #form-file {
        background-color: white;
        align-content: center;
        justify-self: center;
    }

    #form-submit{ 
        display: flex;
        grid-column: 1 / -1;
        justify-self: center;
        width: fit-content;

    }
    
}