#contact-form-container {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;

    form {
        color: black;
        display: grid;
        background-color: darkgray;
        padding: 10px;
        border-radius: 20px;
        gap: 20px;

        div {
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-auto-rows: 40px;
            justify-content: center;
            gap: 10px;


            label,
            span {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                font-weight: 600;
                padding-inline: 10px;
                width: 70px;

                @media(width <=425px) {
                    justify-content: initial;
                    width: fit-content;
                }

            }

            input {
                border-radius: 20px;
                border-style: none;
                padding-left: 10px;
            }

            input[type="file"] {
                display: none;
            }

            textarea {
                border-radius: 20px;
                padding-left: 10px;
                padding-top: 10px;
                grid-row-start: span 2;
                resize: none;
            }

            &:last-child {
                grid-template-columns: 1fr;
            }

            @media (width <=425px) {
                grid-template-columns: 1fr;
                background-color: gray;
                padding: 10px;
                border-radius: 20px;
            }
        }

        @media(width <=425px) {
            width: 100%;
        }
    }

    #custom-form-file {
        background-color: white;
        min-width: max-content;
        color: black;
        display: flex;
        gap: 10px;
        align-content: center;
        justify-self: center;
        padding-inline: 10px;

        span {
            background: none;
            max-height: 40px;
            max-width: max-content;
            padding-inline: 0;
        }

        img {
            max-height: 30px;
        }
    }

    #form-submit {
        display: flex;
        grid-column: 1 / -1;
        justify-self: center;
        width: fit-content;

    }
}