#search-bar-container {
    text-align: center;
    
    input {
        border-radius: 20px;
        border: black 1px solid;
        padding: 10px;
        border-style: none;
    }
    
}

.questions-container {
    background-color: darkgray;
    padding: 10px;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1000px;
    padding-inline: 10px;
    margin: 0 auto;

    article {
        background-color: white;
        border-radius: 20px;
        width: 100%;
        padding: 10px;
    }
    summary {
        font-weight: bold;
        font-size: large;
        cursor: pointer;
    }
    p {
        margin: 10px 10px 10px 20px;
    }


}