#home-title-container {
    margin-bottom: 20px;
    h1, h3 {
        font-weight: 400;
    }

    h3 {
        font-size: 1em;
    }

    span {
        color: red;
    }
}

.main-image-container {
    display: grid;

    img {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    div {
        display: flex;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;

        @media (width <= 425px) {
            grid-row: 2 / 2;
            margin: 0 10px 10px 10px;
        }
        h3,
        p {
            font-size: x-large;
            border-bottom: 5px gray solid;
            border-left: 5px gray solid;
            margin-block: 5px;
            padding: 10px;
            backdrop-filter: blur(5px);
            color: white;
            text-shadow: #000 1px 0 10px;

            @media (width <=768px) {
                font-size: large;
            }

            @media (width <=425px) {
                font-size: 1em;
                backdrop-filter: none;
                background-color: #666;
                border-radius: 10px;
                border: none;
                gap: 10px;
                text-shadow: none;
            }
        }

    }
}

#main-table {
    color: white;
    margin-inline: 10%;
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    @media (width <= 425px){
        margin-inline: 10px;
    }

    .table-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        @media (width <= 768px) {
            grid-template-columns: 1fr;
        }
    }

    .reverse {
        grid-row-start: 1;

        @media (max-width: 767px) {
            grid-row-start: 2;
        }
    }

    .reverse-text {
        text-align: right;

        p {
            margin-right: 10px;
        }
    }

    .main-table-text {
        background-color: #555;
        border-radius: 30px;
        padding: 20px;
        align-content: center;

        * {
            margin: 0;
        }

        p {
            margin-left: 10px;
        }
    }

    .main-table-image {
        align-self: center;

        img {
            filter: blur(2px);
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            border-radius: 30px;
        }
    }

    .zoom-top {
        object-position: top;
    }

}