#about-me-container{
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    padding-inline: 10px;
    @media(width <= 768px) {
        flex-direction: column-reverse;
    }
}

#about-me-image-container {
    img{
        border-radius: 20px;
        max-width: 300px;
        width: max-content;
        height: 100%;
        object-position: top;
        object-fit: cover;
        @media (width <= 768px) {
            height: 300px;
            width: 300px;
        }
    }
}

#about-me-text-container{
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 550px;
    border-radius: 20px;
    * {
        margin: 0;
    }
    @media (width <= 768px) {
        max-width: 100%;
    }
    
}

.article-container{
    color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 10px;

    article{
        background-color: white;
        // border: black 2px solid;
        border-radius: 20px;
        width: 300px;
    }

    img {
        height: 300px;
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
    }
}

.article-title-container {
    h3 {
        margin: 0;
        padding: 10px;
        // border: black 2px solid;
        border-radius: 20px;
    }
}